%h1 Projects

%section#projects
  - if @projects.size > 0
    %ul
      - @projects.each do |project|
        %li
          %a{ href: "/projects/#{project["api_key"]}/#{project["default_locale"]}" }= project["name"]
  - else
    %p It doesn't look like you've got any projects yet.

  - if current_user["superuser"]
    %a#new_project{ href: "/projects/new" } Create a Project
