!!! 5
%html
  %head
    %title TextTractor
    %link{ rel: "stylesheet", href: "/styles.css"}
    %script{ src: "/js/jquery.js" }
    %script{ src: "/js/jquery.pjax.js" }
    %script{ src: "/js/application.js" }

  %body
    %header
      %ul#navigation
        - if current_user["superuser"]
          %li
            %a{ href: "/users" } Users
        %li 
          %a{ href: "/" } Projects

      %h1 TextTractor
        
    %section#content
      =yield

    %footer
      %a{ href: "http://blankpad.net", target: "_top" }
        %img{ src: "/images/blankpad.png", alt: "Blank Pad Development", title: "Developed by Blank Pad Development" }
