%dd{ "data-key" => key }
  - unless phrase[locale].nil? || phrase[locale].empty?
    %p.translation= phrase[locale]
  - else
    %p.translation.empty Click to add a translation
  
  - if show_original
    %p.original= original
