%dd{ "data-key" => "#{@locale}/#{@key}" }
  - puts @locale
  - if @phrase[@locale]
    %p.translation= @phrase[@locale]
  - else
    %p.translation.empty Click to add a translation
  
  - if @locale != @project.default_locale
    %p.original= @phrase[@project.default_locale]
